<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    {% block 'head' %}{% endblock  %}
    <title>{% block 'titulo' %}{% endblock  %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Prospera</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto"> 

          {% comment %} {% if user.is_authenticated %}       {% endcomment %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
             <!-- Verifica se um avatar existe -->
             {% comment %} {% if user.avatar %}
              <img src="{{user.avatar.url}}" class="rounded-circle" style="width: 30px; rounded-circle: 50%;" alt="Avatar"> 
             {% else %}
            {{user.username}}
            {% endif %} {% endcomment %}
                Dropdown link
            </a>
            <div class="dropdown-menu">              
              <a style='margin:10px'; 'color: red' href="#" class="">Sair</a>
            </div>
          </li>
          {% comment %} {% endif %}  {% endcomment %}

        </ul>
      </div>
    </nav>
    {% block 'conteudo' %}{% endblock  %}  
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>   
  </body>
</html>